.comming-winner li{
    list-style-type: none;
    border: 1px solid #ccc;
    @include media-breakpoint-up(lg) {
        border: 0;
    }
    &:hover{
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    }
}

.icon-features{
    width: 72px;
    height: 72px;
}

hr{
    opacity: 1;
    border-color: rgb(238,240,243)
}

.max-content{
    max-width: 1180px;
}