<div class="image-bg mt-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-4">
                <h1 class="h2">Gana hasta 7 US$ gratis en criptomoneda</h1>
                <p>Conoce cómo funcionan las distintas criptomonedas y pruébalas.</p>
                <button class="btn btn-primary fw-semibold rounded-2">Comienza a ganar</button>
            </div>
        </div>
    </div>
</div>