<footer class="container mt-5">
    <div class="row justify-content-between mb-4 mb-md-0">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <img src="https://images.ctfassets.net/q5ulk4bp65r7/3TBS4oVkD1ghowTqVQJlqj/2dfd4ea3b623a7c0d8deb2ff445dee9e/Consumer_Wordmark.svg"
                height="20" width="112" />
            <form class="mt-4">
                <select class="form-select">
                    <option selected>España</option>
                    <option>English</option>
                </select>
            </form>

            <p class="text-muted mt-4">© 2022 Coinbase</p>
            <p>
                <a href="#" class="text-decoration-none text-muted">Blog</a>
                 • <a href="#" class="text-decoration-none text-muted">Twitter</a> 
                 • <a href="#" class="text-decoration-none text-muted">Facebook</a></p>
        </div>
        <div class="col-12 col-lg-9 d-flex flex-column flex-md-row justify-content-evenly">
            <div>
                <strong>Acerca de</strong>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="text-muted text-decoration-none">Acerca de</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Empleo</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Programa de afiliados</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Blog</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Gabinete de prensa</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Inversores</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Asuntos legales y privacidad</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Política de cookies</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Preferencias de cookies</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Declaraciones sobre activos digitales</a>
                    </li>

                </ul>
                <strong>Recursos</strong>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="text-muted text-decoration-none">Explorar precios de criptomonedas</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Newsletter de Coinbase Bytes</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Conceptos básicos sobre criptomonedas</a>
                    </li>
                    <li><a href="#" class="text-muted text-decoration-none">Consejos y tutoriales</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Novedades del mercado</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">¿Qué es el bitcoin?</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">¿Qué es una criptomoneda?</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">¿Qué es una cadena de bloques
                            (blockchain)?</a>
                    </li>
                    <li><a href="#" class="text-muted text-decoration-none">Cómo configurar una cartera de
                            criptomonedas</a>
                    </li>
                    <li><a href="#" class="text-muted text-decoration-none">Cómo enviar criptomonedas</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Impuestos</a></li>
                </ul>

            </div>
            <div>
                <strong>Personas físicas</strong>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="text-muted text-decoration-none">Comprar y vender</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Gane criptomonedas gratis</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Wallet</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">NFT</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Tarjeta</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Derivatives</a></li>
                </ul>

                <strong>Negocios</strong>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="text-muted text-decoration-none">Institucional</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Prime</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Asset Hub</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Coinbase Commerce</a></li>
                </ul>

                <strong>Desarrolladores</strong>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="text-muted text-decoration-none">Nube</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Wallet SDK</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">SDK Coinbase Pay</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Query & Transact</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Comercio</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Exchange y Pro</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Iniciar sesión con Coinbase</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Rosetta</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Coinbase Participate</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">API Prime</a></li>
                </ul>
            </div>
            <div>
                <strong>Servicio de asistencia</strong>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="text-muted text-decoration-none">Centro de ayuda</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Contacto</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Crear cuenta</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Datos de la cuenta</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Métodos de pago</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Acceso a cuenta</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Criptomonedas admitidas</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Países admitidos</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Estado</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>