.header{
    border-bottom: 1px solid rgb(236, 239, 241);
    @include media-breakpoint-up(lg) {
        height: 67px;
    }
    & .header-logo img{
        max-height: 20px;
    }
    & .header-nav{
        @include media-breakpoint-up(lg) {
            height: 100%;
            .navbar-nav{
                height: 100%;
            }
        }
        & .nav-link{
            display: flex;
            align-items: center;
            height: 100%;
            color: var(--bs-body-color);
            &:hover{
                border-bottom: 4px solid $blue-themes;
            }
        }
    }
    & .header-nav , .header-buttons{
        font-size: 14px;
    }

    & .header-buttons a:first-child:hover{
        color: $blue-themes
    }
}