<div class="bg-primary my-5 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 d-flex flex-column p-5">
                <span class="display-5 text-white text-center fw-semibold">309 mil MUS$</span>
                <span class="text-white text-center mt-3">Volumen trimestral negociado</span>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-column p-5">
                <span class="display-5 text-white text-center fw-semibold">100+</span>
                <span class="text-white text-center mt-3">Países admitidos</span>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-column p-5">
                <span class="display-5 text-white text-center fw-semibold">98M+</span>
                <span class="text-white text-center mt-3">Usuarios verificados</span>
            </div>
        </div>
    </div>
</div>