<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h2 class="">Gana hasta 7&nbsp;US$ gratis en criptomoneda</h2>
            <p>Conoce cómo funcionan las distintas criptomonedas y pruébalas.</p>
            <button class="btn btn-primary rounded-2">Comienza a ganar</button>
        </div>
        <div class="col-12 col-lg-6">
            <ul class="list-group comming-winner">

                <li class="list-group-item p-4 mb-1 border-0 position-relative">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <img src="https://published-assets.coinbase.com/processed/62/36/62365d11-b992-47f4-beed-588a457f71ed"
                                alt="The Graph" width="38">
                                <span class="h4 ms-3">The Graph</span>
                        </div>
                        <a href="#" class="text-success fw-semibold stretched-link text-decoration-none">Gana 4 US$ GRT</a>
                    </div>
                </li>
                <li class="list-group-item p-4 mb-3 border-0 position-relative">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <img src="https://published-assets.coinbase.com/processed/62/66/626691ce-b363-4e21-a0a5-f3e6579a85d3"
                                alt="Amp" width="38">
                                <span class="h4 ms-3">Amp</span>
                        </div>
                        <a href="#" class="text-success fw-semibold stretched-link text-decoration-none">Gana 4 US$ AMP</a>
                    </div>
                </li>
            </ul>
            <a href="#" class="text-decoration-none p-4 fw-semibold">Ver más ></a>
        </div>
    </div>
</div>