<header class="header position-fixed w-100">
    <div class="container h-100">
        <div class="row align-items-center h-100 w-100 d-flex justify-content-between">
            <diV class="header-logo col-6 col-lg-2 h-100 d-flex align-items-center">
                <a href="/">
                    <img src="https://images.ctfassets.net/q5ulk4bp65r7/3TBS4oVkD1ghowTqVQJlqj/2dfd4ea3b623a7c0d8deb2ff445dee9e/Consumer_Wordmark.svg"
                        alt="logo" />
                </a>
            </diV>
            <nav class="header-nav col-lg-8 h-100 d-none d-lg-flex justify-content-center align-items-center">
                <a href="#" class="nav-link fw-semibold mx-4">Precios</a>
                <a href="#" class="nav-link fw-semibold mx-4">Recursos</a>
                <a href="#" class="nav-link fw-semibold mx-4">Personas fisicas</a>
                <a href="#" class="nav-link fw-semibold mx-4">Negocios</a>
                <a href="#" class="nav-link fw-semibold mx-4">Desarrolladores</a>
                <a href="#" class="nav-link fw-semibold mx-4">Acerca de</a>
            </nav>
            <div class="header-buttons col-6 col-lg-2 h-100 d-flex justify-content-center align-items-center">
                <a href="#" class="nav-link fw-semibold me-3">Iniciar sesión</a>
                <a href="#" class="btn btn-primary fw-semibold rounded-2">Empezar</a>
            </div>
        </div>
    </div>
</header>