<header class="navbar navbar-expand-lg bg-white header sticky-top w-100 p-lg-0">
    <div class="container h-100">
        <div class="row align-items-center h-100 w-100 justify-content-between">
            <diV class="header-logo col-4 col-lg-2 h-100 d-flex align-items-center order-1">
                <a href="/">
                    <img src="https://images.ctfassets.net/q5ulk4bp65r7/3TBS4oVkD1ghowTqVQJlqj/2dfd4ea3b623a7c0d8deb2ff445dee9e/Consumer_Wordmark.svg"
                        alt="logo" />
                </a>
            </diV>
            <div
                class="header-buttons col-8 col-lg-2 h-100 d-flex justify-content-end align-items-center order-2 order-lg-3">
                <a href="#" class="d-none d-lg-flex nav-link fw-semibold me-3">Iniciar sesión</a>
                <a href="#" class="btn btn-primary fw-semibold rounded-2">Empezar</a>

                <button class="navbar-toggler collapsed border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <nav class="navbar-collapse collapse header-nav col-lg-8 justify-content-center align-items-center order-3 order-lg-2"
                id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link fw-semibold mx-4">Precios</a></li>
                    <li class="nav-item"><a href="#" class="nav-link fw-semibold mx-4">Recursos</a></li>
                    <li class="nav-item"><a href="#" class="nav-link fw-semibold mx-4">Personas fisicas</a></li>
                    <li class="nav-item"><a href="#" class="nav-link fw-semibold mx-4">Negocios</a></li>
                    <li class="nav-item"><a href="#" class="nav-link fw-semibold mx-4">Desarrolladores</a></li>
                    <li class="nav-item"><a href="#" class="nav-link fw-semibold mx-4">Acerca de</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>